.lang-switcher
  background: #4e4e4e
  position: fixed
  left: 0
  top: 52px
  padding: 10px 0
  width: 35px
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px
  color: white
  text-align: center
  z-index: 1000

.lang
  cursor: pointer
  margin: 0 0 10px
  text-decoration: none

  &.active
    cursor: default
    font-weight: bold

  &:last-child
    margin: 0
