.privacy-policy
  margin-bottom 40px


  .standard-button {
    background: #005885;
  }

  .standard-button2 {
    background: #008ed6;
  }

  .standard-button2:hover {
    background: #005885;
  }

  .btn-x:focus,
  .btn-x:active,
  .btn-x.active,
  .open .dropdown-toggle.btn-x {
    background: #005885;
    border-color: inherit;
  }

  .colored-line,
  .colored-line-left {
    background: #008ed6;
  }

  .main-color {
    color: #008ed6;
  }

  /* Feature Element */

  .feature:hover .icon-container .icon {
    background: #008ed6;
    color: #ffffff;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0px 0px 0px 2px #008ed6;
    box-shadow: 0px 0px 0px 2px #008ed6;
  }

  .feature .icon-container .icon {
    border: 1px solid #008ed6;
    color: #008ed6;
  }

  /* Pagination */

  a.page-numbers, span.page-numbers {
    border: 1px solid #008ed6;
  }
  span.page-numbers.current {
    color: white;
    background: #008ed6;
  }

  /* Feature List Element */

  .feature-list li i {
    color: #008ed6;
  }

  /* Service Element */

  .service .icon, .service h3 {
    color: #008ed6;
  }

  .screenshots .owl-theme .owl-controls .owl-page span {
    background: #008ed6;
  }

  .expander {
    border: 2px solid #008ed6;
    color: #008ed6;
  }

  .expander:hover {
    background: #008ed6;
  }

  .large-element-spacing {
    height: 30px;
    clear: both
  }

  h2, h3 {
    margin 15px 0 25px
  }

  .decorated {
    margin: 20px 0
    .label {
      background-color rgba(255, 255, 255, 0.5)
    }
  }
